
.header__block {
    @include flex-center (flex, center, null);
  }
  .header {
    border-bottom: 1px solid #ececec;
  }
  
  .header__logo {
    text-decoration: none;
    font-family: raleway, sans-serif;
    
    @include font (700, 24px, 1.16, 0.03em, var(--accent-color) );


  }
  .header__logo--black {
      padding: 25px 0;
   
    text-decoration: none;
    font-family: raleway, sans-serif;
    @include font (700, 24px, 1.16, 0.03em, var(--had-logo-color));
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:focus,
    &:hover {
      color: var(--accent-color);
    }
  }
  
  
  /* навігація */
  .current {
    position: relative;
    color: var(--accent-color);
      }
  
  .current::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  left: 0;
  border-radius: 4px;
  background-color: var(--accent-color);
  bottom: -1.5%;
  }
  .navigation {
    margin-left: 93px;
    display: none;
  }
  
  .navigation__list {
    display: flex;
    
  }
  .navigation__link {
    display: block;
    
    padding-top: 32px;
    padding-bottom: 32px;
  
    text-decoration: none;
    
    @include font (500, 14px, 1.14, 0.02em, null );
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  .navigation__item + .navigation__item {
    margin-left: 50px;
  }
  
  
  .contacts {
    display: none;
    // @include flex-center (flex, null, center);
    margin-left: auto;
  }
  
  .contacts__icon-mail,
  .contacts__icon-tel {
    margin-right: 10px;
    fill: currentColor;
  }
  .contacts__item + .contacts__item {
    margin-left: 50px;
  }
  .contacts__link {
    @include flex-center (flex, center, null);
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;
   
    @include font (500, 14px, 1.14, 0.02em, var(--text-color) );
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
 
  .header__button, 
  .header__close-button {
    margin-left: auto;
    display: flex;
    background-color: transparent;
    border: none;
  }
 .header__mobile-menu {
  position: absolute;
   width: 100%;
  height: 100%;
  background-color: var(--hero-color);
  top: 0;
 }
 .menu-navigation__link {
  @include font (500, 14px, 1.14, 0.02em, null );
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  text-decoration: none;
 }