.beckdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
  
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    visibility 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .beckdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0) rotate(0deg);
  }
  
  .modal {
    position: absolute;
  
    padding: 40px;
    width: 528px;
    height: 581px;
    background-color: var(--primary-bg-color);
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
     0px 1px 1px rgba(0, 0, 0, 0.14), 
     0px 2px 1px rgba(0, 0, 0, 0.2);
  
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%) scale(1) rotate(360deg);
     transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1)
    
     }
  
  .modal-close-button {
    position: absolute;
    background-color: var(--primary-bg-color);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    top: 8px;
    right: 8px;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal-close-button:hover > .icon-close,
  .modal-close-button:focus > .icon-close {
    fill: var(--accent-color);
  }
  
  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .modal-title {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 12px;
  }
  
  .modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    outline: transparent;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1)
   
  }
  
  .modal-form-btn {
    display: block;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background-color: var(--accent-color);
    border: none;
    margin-left: auto;
    margin-right: auto;
    color: var(--hero-color);
    font-weight: 700;
    font-style: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1)
   }
  
   .modal-form-btn:hover, 
   .modal-form-btn:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   }
  
   .modal-lable {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--text-color);
    margin-bottom: 4px;
   }

   .modal-input-box {
    margin-bottom: 10px;
   }

   .modal-input-box-item {
    position: relative;
    }
  
   .modal-form-svgicon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
   }
  
   .modal-input:focus + .modal-form-svgicon {
    fill: var(--accent-color);
   }
  
   .modal-input:focus {
    border: 1px solid var(--accent-color);
   }
  .user-text-label {
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--text-color);
  }
   .modal-form-textarea {
    display: block;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--text-color);
    resize: none;
    outline: transparent;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1)
  
   }
   .modal-form-textarea:focus {
    border: 1px solid var(--accent-color);
   }
  
   .modal-form-area {
    margin-bottom: 20px;
   }
  
   .label-chek {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
      }
  
  .chek-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.11;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    border-bottom: 1px solid var(--accent-color) ;
    text-decoration: none;

      }
  
   .modal-chekbox {
    margin-bottom: 30px;
   }
  .chek-title {
    margin-right: 8px;
  }
  .chekbox-icon-chek {
    width: 16px;
    height: 15px;
    border-radius: 2px;
    border: 1px solid var(--had-logo-color);
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      border: 1px solid var(--accent-color);;
    }
    
   }
  
  .icon-modal-check {
    fill: transparent;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
  }
  
  .chekbox-input:checked + .label-chek .chekbox-icon-chek {
    background-color: var(--accent-color);
    border: none;
  }
  
  .chekbox-input:checked + .label-chek .icon-modal-check {
    fill: var(--hero-color);}

    .chekbox-input:focus + .label-chek .chekbox-icon-chek {
    border-color: var(--accent-color);
    }