

.produce {
    padding-bottom: 94px;
    display: none;
    @media screen and (min-width: 1200px) {
      display: block;
    }
  }

  .produce__title {
  
    margin-bottom: 50px;
    text-align: center;
    @include font (700, 36px, 1.17, 0.03em, var(--primary-text-color));
  }
  
  .produce__subtitle {
  @include flex-center (flex, center, center);
    position: absolute;
    @include font (700, 14px, 1.14, 0.03em, var(--hero-color));
    
    text-align: center;
   
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.8);
    bottom: 0;
    width: 100%;
    height: 70px;
  }
  .produce__img {
    position: relative;
    display: inline-block;
    flex-basis: calc(100% / 3 - 30px);
    margin-right: 30px;
  }
  .produce__img:last-child {
    margin-right: 0;
  }
  .produce__list {
    display: flex;
    margin-right: -30px;
  }