:root {
    --primary-text-color: #212121;
    --accent-color: #2196f3;
    --had-logo-color: #000000;
    --text-color: #757575;
    --hero-color: #ffffff;
    --footer-contact-color: rgba(255, 255, 255, 0.6);
    --primary-bg-color: #ffffff;
    --hero-bg-color: #2f303a;
    --pre-footer-color: #f5f4fa;
  }